@import url(/styles/header.css);
@import url(/styles/banner.css);
@import url(/styles/carrossel.css);
@import url(/styles/topicos.css);
@import url(/styles/contato.css);
@import url(/styles/rodape.css);

:root {
    --cor-principal: #b230c4;
    --cor-secundaria: #e61c7a;
    --cor-escrita: #000000;
    --cor-defundo: #e98bc5;
    --cor-header: #a192c1;
    --fonte-principal: "roboto";
    --fonte-secundaria: "Afacad";

}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-defundo);
    font-family: 'Prompt', sans-serif;
}

header {
    background-color: var(--cor-header);
    color: var(--cor-principal);
}

.cabecalho {
    background-color: var(--cor-secundaria);
    color: var(--cor-header);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16;
    font-size: 24px;
}

.secao1 {
background-image: linear-gradient(#424E61, #16CFF8);
color: var(--cor-secundaria);
display: flex;
justify-content: center;
align-items: center;
padding: 24px 0;
}


.secao1-titulo {
    padding: 24px 0;
}

.secao1-imagem {
    width:40%;
}

.secao-div-conteudo {
    width: 35%;
}